# Bitrix24
BITRIX24_PORTAL=https://thompsonschool.bitrix24.kz
BITRIX24_TOKEN=/rest/1/ojfd39lro40tvy9l/

# Auth
AUTH_ENABLED=true
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
JWT_SECRET=change-this-secret

# Meta Ads (optional)
FB_AD_ACCOUNT_IDS=act_1165269934242491,act_744469970261875,act_2047952658869130,act_319869223947355,act_4333378976909180
FB_ACCESS_TOKEN="EAAgfaoLScn0BR0XDtEEZC8m09RfXcXvPwpZCth10xF6HZBaejqe8jKyLjrDRtSjAcZA9o48EHzjSZCizoZAZABvKzx1wIGzfK1AKl2sxmczFja7YYtIJIbxGwxsx9gx9BmGNiuZCRr1n4DzKxbD0sVUE18Q99GW7RkADqrx8ZB9cfICBbsWlFDf5VRNrHDmlWIXpD5qPwux1kpeFI"
# Thompson uz       = act_1165269934242491
# Thompson kids     = act_744469970261875
# Thompson Navoi LC = act_2047952658869130
# Thompson Fergana  = act_319869223947355
# Namangan LC       = act_4333378976909180
META_USER_TOKEN=
META_APP_ID=
META_APP_SECRET=
FB_PAGE_TOKEN=
FB_PAGE_ID=

# PostgreSQL (Bitrix sync DB)
DATABASE_URL=postgresql+psycopg2://mountain:password@localhost/mountain_bx
